.root_why_komet {
    width : 100%;
    padding : 2vh;
    margin-bottom: 10vh;
}

.image_section_komet {
    /* background-color: aqua; */
    border-radius: 20px;
}

.image_section_komet img {
    /* background-color: aqua; */
    border-radius: 20px;
}


.more_btn_komet {
    width : 100%;
    background-color: blue;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
}


@media screen and (min-width : 1024px) {
    .root_why_komet {
        width : 100%;
        padding : 2vh;
        margin-bottom: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image_section_komet {
        width : 30%;
        background-color:transparent;
        border-radius: 20px;
    }

    .image_section_komet img {
        height : 50vh;
        padding : 4vh;
        background-size: cover;
        background-position: center;
        border-radius: 40px;
    }

    .text_section_komet {
        width : 40%
    }

    .btnSection_komet {
        width : 100%;
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .more_btn_komet {
        width : 40%;
        background-color: #383737;
        border-radius: 5px;
        padding: 10px;
        margin-right: 10px;
    }
}